/* CSS Document */

.top-banner img{
	width: 100%;
	text-align: middle;
}


.nav{
	margin: 0;
	text-align: center;
	background-color: #fff7f4;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;

/*	border: 1px solid #555;*/
	display: inline-block;
}
.nav li {
	float: left;
    text-align: center;
	display:inline-block;
}

.nav li a {
	display: block;
	color: #000;
	padding: 18px 36px;
	text-decoration: none;
}
.nav li a:hover {
    background-color: #ffebe4;
    color: #000;
}
.nav li a:active {
    background-color: #fdd3d7;
    color: white;
}

.active{
    background-color: #fdd3d7;
    color: white;	
}
